@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.main-video {
  width: 100%;
  height: 56.25%; // For making video 16:9 aspect ratio

  @include tablet {
    width: 87%;
    
    border-left: 48px solid $BrainFlix-DarkBlack;
    border-right: 48px solid $BrainFlix-DarkBlack;
  }

  @include desktop {
    width: 64%;
    
    border-left: 18vw solid $BrainFlix-DarkBlack;
    border-right: 18vw solid $BrainFlix-DarkBlack;
  }
}