@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.comment {
  display: flex;
  flex-direction: row;

  border-bottom: $divider-border;
  padding: $mobile-padding 0;

  &__avatar {
    width: $avatar-mobile-width;
    height: $avatar-mobile-height;
    border-radius: $avatar-border-radius;

    object-fit: cover;
    object-position: 12%;

    margin: 24px $mobile-margin 0 0;
  }

  &__form {
    width: 100;

    &__label {
      @include mobile-section-header;
      color: $Silver;

      width: 100%;
      margin: 0;
      padding-bottom: 4px;
    }

    &__fields {
      &__text {
        background-color: $Alabaster;
        width: 88%;
        height: 72px;
        
        margin-bottom: 12px;
        padding: $form-field-mobile-padding;
        border-radius: $form-field-radius;
        border: $form-field-default-border;
  
        @include mobile-body;
        resize: none;
  
        &:focus {
          outline: $form-field-active-border;
        }
      }
  
      &__button {
        background-color: $BrainFlix-Blue;
        background-image: url(../../assets/images/icons/add_comment.svg);
        background-repeat: no-repeat;
        background-position: 12px, center;
  
        width: 100%;
        height: $button-height;
  
        border-radius: $button-radius;
        border: none;
        margin-bottom: 4px;
  
        @include mobile-labels-buttons;
        color: $White;
  
        cursor: pointer;
  
        &:hover {
          background-color: $BrainFlix-DarkBlue;
        }
      }
    }
  }

  @include tablet {
    &__avatar {
      width: $avatar-tablet-desktop-width;
      height: $avatar-tablet-desktop-height;

      margin-right: $tablet-gutter;
    }

    &__form {
      &__label {
        @include tablet-desktop-subheader;
      }

      &__fields {
        display: flex;
        flex-direction: row;

        &__text {
          @include tablet-desktop-body;

          width: 450px;
          height: 10px;

          padding: 10px $form-field-tablet-desktop-padding 20px $form-field-tablet-desktop-padding;
          overflow: hidden;
        }

        &__button {
          @include tablet-desktop-labels-buttons;
          width: 35%;

          margin-left: $tablet-gutter;
        }
      }
    }
  }

  @include desktop {
    border: none;

    &__avatar {
      width: $avatar-tablet-desktop-width;
      height: $avatar-tablet-desktop-height;

      margin-right: $tablet-gutter;
    }

    &__form {
      &__label {
        @include tablet-desktop-subheader;
      }

      &__fields {
        display: flex;
        flex-direction: row;

        &__text {
          @include tablet-desktop-body;

          width: 440px;
          height: 10px;

          padding: 10px $form-field-tablet-desktop-padding 20px $form-field-tablet-desktop-padding;
          overflow: hidden;
        }

        &__button {
          @include tablet-desktop-labels-buttons;
          width: 35%;

          margin-left: $tablet-gutter;
        }
      }
    }
  }
}

/* For when posting comments return an error message */
.empty-comment {
  border: 1px solid $Form-Error-Border;
}