// Primary Colors
$BrainFlix-Black: #323232; // Primary text color
$BrainFlix-Blue: #0095FF; // Primary CTA color. Active form field outline color
$Silver: #AFAFAF; // Seondary text color. Text Label color 
$White: #FFFFFF; // Background color. CTA text color

// Seondary Colors
$BrainFlix-DarkBlack: #000000; // Video player components
$BrainFlix-DarkBlue: #0065AD; // CTA hover state color
$Mercury: #E1E1E1; // Divider line. Form field outline color. Image and avatar placeholder color
$Alabaster: #FAFAFA; //Form field background color

// Form Colors
$Form-Error-Border: #D22D2D;