@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.video {
  display: flex;
  flex-direction: row;

  margin: $mobile-margin 0;

  cursor: pointer;

  &__image {
    width: 40%;
    height: 4rem;
    border-radius: $image-border-radius;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: $mobile-margin;
    
    &__title {
      margin: 0;
      @include mobile-subheader;
    }

    &__channel {
      margin: 0;
    }
  }
}